.jumbotron {
  background: #1fa5b1;
}
.jumbotron h1{
  color: white;
}
.jumbotron img {
  
}
.resultA{
 display: none;
}
.resultB{
 display: none;
}
.resultC{
 display: none;
}
.resultD{
 display: none;
}
.resultE{
  display: none;
}
